.trackDetailContainer {
  display: flex;
  align-items: start;
}

.trackImageContainer {
  max-width: 400px;
}

.trackImage {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.trackInfoContainer {
  flex: 3;
  margin-left: 20px;
}

.likeButtonContainer, .reviewSectionContainer {
  margin-top: 20px;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.likeButton svg {
  width: 24px;
  height: 24px;
}

.deleteReviewButton {
  font-size: 14px;
  padding: 5px 10px;
}

.reviewTextarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: lightgrey;
}

.submitReviewButton {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitReviewButton:hover {
  background-color: purple;
}

.writeReviewButton {
  padding: 10px 20px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.writeReviewButton:hover {
  background-color: purple;
}

.albumDetailContainer {
  display: flex;
  align-items: start;
}

.albumImageContainer {
  max-width: 400px;
}

.albumImage {
  width: 100%;
  height: auto;
}

.albumInfoContainer {
  flex: 2;
  margin-left: 20px;
}

.albumInfoContainer {
  flex: 2;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content */
}

.albumInfoContainer p:first-child {
  font-size: 24px;
  font-weight: bold;
  text-align: center; /* Horizontally centers the text */
}


.albumTracksContainer li p:first-child {
  font-size: 18px; /* Adjust the size as needed */
  font-weight: bold;
}

.artistDetailContainer {
  display: flex;
  align-items: start;
}

.artistImageContainer {
  max-width: 400px;
}

.artistImage {
  width: 100%;
  height: auto;
}

.artistInfoContainer {
  flex: 3;
  margin-left: 20px;
}

/* Continue with the existing styles for the like button, review section, etc. */

