.trackDetailContainer {
  display: flex;
  align-items: start;
}

.trackImageContainer {
  max-width: 400px;
}

.trackImage {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.trackInfoContainer {
  flex: 3;
  margin-left: 20px;
}

.likeButtonContainer, .reviewSectionContainer {
  margin-top: 20px;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.likeButton:hover, .likeButton:focus {
  background-color: transparent; /* No background change on hover */
  outline: none; /* Remove focus outline */
  transform: scale(1.1); /* Optional: scale up the icon a bit on hover */
}

.likeButton svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s
}

.deleteReviewButton {
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 20px;
}

.reviewTextarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: lightgrey;
  margin-left: 20px;
}

.submitReviewButton {
  width: 10%;
  padding: 10px 0;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.submitReviewButton:hover {
  background-color: purple;
}

.writeReviewButton {
  padding: 10px 20px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.writeReviewButton:hover {
  background-color: purple;
}

.albumDetailContainer {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

.albumImageContainer {
  max-width: 300px;
  margin-left: 20px;
}

.albumImage {
  width: 100%;
  height: auto;
}

.albumInfoContainer {
  flex: 2;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns content to the bottom */
}

.infoBottom {
  margin-top: auto; /* Pushes the content to the bottom */
}


.albumInfoContainer p:first-child {
  font-size: 55px;
  font-weight: bold;
}


.albumTracksContainer li p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.artistDetailContainer {
  display: flex;
  align-items: start;
}

.artistImageContainer {
  max-width: 400px;
}

.artistImage {
  width: 100%;
  height: auto;
}

.artistInfoContainer {
  flex: 3;
  margin-left: 20px;
}

.audioPlayerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:  #bb86fc;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 0px 0; /* Adjust vertical padding as needed, but keep horizontal padding 0 */
  z-index: 1000;
}


html, body {
  margin: 0;
  padding: 0;
  /* Other styles if necessary */
}

.trackListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.playButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  /* Add other styles as needed */
}

.playButton:hover, .playButton:focus {
  background-color: transparent; /* No background change on hover */
  outline: none; /* Remove focus outline */
  transform: scale(1.1); /* Optional: scale up the icon a bit on hover */
}
.reviewsContainer {
  padding-bottom: 80px;
  margin-left: 20px;
  margin-top: 20px;
}

.yourReviewContainer {
  margin-left: 18px;
}

.spotifyLink {
  text-decoration: none;
  margin-left: 20px;
}

.add-to-playlist-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, transform 0.3s;
}

.add-to-playlist-button:hover {
  color: #000;
  transform: scale(1.1); 
}
