.trackDetailContainer {
  display: flex;
  align-items: start;
}

.trackImageContainer {
  max-width: 400px;
}

.trackImage {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.trackInfoContainer {
  flex: 3;
  margin-left: 20px;
}

.likeButtonContainer,
.reviewSectionContainer {
  margin-top: 20px;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 6px;
}

.likeButton:hover,
.likeButton:focus {
  background-color: transparent;
  outline: none;
  transform: scale(1.2);
}

.likeButton svg {
  width: 35px;
  height: 35px;
  transition: transform 0.3s
}

.deleteReviewButton {
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 20px;
}

.reviewTextarea {
  width: 95%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #282828;
  color: #fff;
  border: 1px solid #444;
  margin-left: 20px;
}

.submitReviewButton {
  padding: 10px 0;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.submitReviewButton:hover {
  background-color: purple;
}

.writeReviewButton {
  padding: 10px 20px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 20px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.writeReviewButton:hover {
  background-color: purple;
}

.albumDetailContainer {
  display: flex;
  align-items: flex-end;
  background-color: #181818;
  padding: 20px 18px;
  border-radius: 4px;
}

.albumLabel {
  font-size: 16px;
  color: #b3b3b3;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.albumImageContainer {
  max-width: 300px;
  margin-left: 20px;
  width: 100%;
}

.albumImage {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.albumInfoContainer {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 22px;
}

.infoBottom {
  margin-top: auto;
}

.albumInfoContainer h1 {
  font-size: 70px;
  font-weight: 600;
}

.custom-h1 {
  font-size: 20px !important;
  font-weight: bold;
}

.albumInfoContainer p:first-child {
  font-size: 55px;
  font-weight: bold;
}

.albumTracksContainer {
  list-style: none;
  padding: 0;
}

.albumTracksContainer li p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.artistDetailContainer {
  display: flex;
  align-items: start;
  margin-left: 10px;
}

.artistImageContainer {
  max-width: 400px;
}

.artistImage {
  width: 100%;
  height: auto;
}

.artistInfoContainer {
  flex: 3;
  margin-left: 20px;
}

.audioPlayerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #bb86fc;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 0px 0;
  z-index: 1000;
  opacity: 0.95;
}

@media (max-width: 768px) {
  .audioPlayerContainer {
    left: 0;
  }
}

@media (min-width: 769px) {
  .audioPlayerContainer {
    left: 8.4%;
  }
}

.trackListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
  margin-right: 4px;
}

.trackListItem p:first-child {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.trackListItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.playButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s;
}

.playButton:hover {
  background-color: transparent;
  outline: none;
  transform: scale(1.25);
}

.playButton svg {
  fill: #bb86fc;
}

.reviewsContainer {
  background-color: #202020;
  color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 15px;
}

.reviewsContainer h4 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.reviewsContainer p {
  color: #a9a9a9;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.reviewItem {
  background-color: #282828;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.reviewItem p {
  margin: 0;
  color: #ccc;
  font-size: 16px;
}

.reviewAuthorLink {
  text-decoration: none;
  font-weight: bold;
}

.reviewAuthorLink:hover {
  color: #82c4f8 !important;
  text-decoration: underline;
}


.yourReviewContainer {
  margin-left: 18px;
}

.spotifyLink {
  text-decoration: none;
  margin-left: 20px;
}

.add-to-playlist-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s, transform 0.3s;
}

.add-to-playlist-button:hover {
  color: #000;
  transform: scale(1.1);
}

.spotifyPlayButton {
  background-color: transparent !important;
  color: #1DB954 !important;
  cursor: pointer;
  font-size: 30px;
  outline: none;
  background: none;
  border: none !important;
  cursor: pointer;
  padding: 0px;
}

.spotifyPlayButton:hover,
.spotifyPlayButton:focus {
  color: salmon !important;
  background-color: transparent;
  outline: none;
  transform: scale(1.2);
}

.spotifyPlayButton svg {
  width: 37px;
  height: 37px;
  transition: transform 0.3s
}

/* .likeButton:active, .likeButton:focus,
.spotifyPlayButton:active, .spotifyPlayButton:focus {
  outline: none !important;
  box-shadow: none !important;
} */

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.trackArtists {
  font-size: 16px;
  color: #b3b3b3;
  margin-left: 20px;
}

.loginPrompt {
  color: #e0e0e0;
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 8px;
}

.userReviewContainer,
.reviewContainer {
  background-color: #202020;
  color: #e0e0e0;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.userReviewContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
}

.userReviewContainer p {
  margin: 0 !important;
  color: #ccc;
  font-size: 16px;
}

.deleteReviewButton,
.submitReviewButton,
.writeReviewButton {
  background-color: #4a148c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteReviewButton:hover,
.submitReviewButton:hover,
.writeReviewButton:hover {
  background-color: #6a1b9a;
  transform: translateY(-2px);
}

.yourReviewContainer p {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .audioPlayerContainer {
    left: 0;
    width: 100%;
  }
}
.deleteReviewButton {
  background-color: red;
  color: white !important;
  padding: 10px 15px;
}