.footer {
    background-color: #282828;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a{
    color: white;
    margin: 0 10px;
    font-size: 1.6em !important;
}

.footer-left {
    display: flex;
    align-items: center;
    font-size: 1em !important;
}

.footer a:hover {
    color: #1db954 !important;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}