.equal-height-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;

}

.card {
    background-color: #bb86fc;
}

.card-title {
    color: white !important;
}