.review-panel {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: black;
}

.review-image-container {
    flex: 1;
    padding: 10px;
    text-decoration: none;
}

.review-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.review-text-panel {
    flex: 2;
    padding: 10px;
    text-align: left;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.carousel-indicators {
    margin-bottom: 1px !important;
}

.carousel-control-next {
    margin-left: 10px;
}

.my-reviews {
    background-color: darkslategrey;
}

.mySwiper {
    width: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mySwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 35%;
}

.swiper-slide-image {
    width: 120%;
    height: 120%;
    transition: transform 0.3s ease-in-out;
}

.mySwiper .swiper-slide-active {
    z-index: 1;
    transform: scale(1.25);
}

.mySwiper .swiper-slide-next,
.mySwiper .swiper-slide-prev {
    transform: scale(0.8);
    opacity: 0.6;
}

.mySwiper .swiper-slide-shadow-left,
.mySwiper .swiper-slide-shadow-right {
    opacity: 0.6;
}

.user-playlist {
    width: 100%;
}

.latest-review-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    max-width: 230px;
}


@media (max-width: 768px) {
    .latest-review-text {
        max-width: 120px;
    }
}

@media (max-width: 576px) {
    .latest-review-text {
        max-width: 60px;
    }
}